.initials {
    position: relative;
    top: 10px; /* 25% of parent */
    font-size: 20px; /* 50% of parent */
    line-height: 20px; /* 50% of parent */
    font-weight: bold;
  }

  .avatar-circle{
    text-align: center; 
    width:40px; 
    height:40px;
  }

  .name{
      position: relative;
      top: 10px;
  }

  #date{
      color: rgb(114, 112, 112);
  }